// Colors
$color-primary: #F15525;
$color-secondary: #38BFF2;
$color-secondary-text: #3C3E50;
$color-text: #22253B;
$color-gray-text: #8e8e8e;
$color-gray-underline:#DEDEDE;
$color-underline-2:#D8D8D8;
$color-gray-times:#BCBCBC;
$color-orange-light:#FFB359;
$color-red-light:#FF6F50;
$color-green-light:#4BD071;
$color-blue-light:#50C0FF;
$color-white: #fff;
$color-docker:#4B77B9;
$color-git:#AF93FF;
$color-white-darker:#eaeaea;

// Background colors
$card-bg-color: #EAF2F5;
$gray-bg-color: #F3F3F3;
$sidebar-bg-color:#181818;
$color-body-bg:#F7F8FC;


// Typography
$site-font: "Gilroy", "Arial", sans-serif;
$manrope-font: "Manrope", "Arial", sans-serif;

