.header {
  padding: 1.2rem;
//   background-color: $gray-bg-color;
  
//   background-repeat: no-repeat;
  height: 100vh;

  @include responsive(table){
    height:150vh;
  }
}

// about section

.about__content {
  
  padding-top: 6rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  position: relative;

  @include responsive(table){
    flex-direction: column;
    align-items: center;
    row-gap: 3.5rem;    
  }

  &--repo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include responsive(table){
        align-items: center;
    }
  }
  h1 {
    margin-bottom: 1.5rem;
    padding-bottom: 3.1rem;
    position: relative;
    
    span {
      color: $color-primary;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 55%;
      height: 2px;
      background-color: $color-gray-underline;
    }
    
    @include responsive(big-table){
        width: 45rem;
        
    }
    @include responsive(table){
        width: 35rem;
        text-align: center;
        margin: auto;
        margin-bottom: 2rem;
        padding-bottom: 2rem;

        &::after{
            width: 100%;
        }
    }
    @include responsive(phone){
        width: 30rem;
    }
  }

  &--paragraph {
    font-size: 1.6rem;
    line-height: 2.3rem;
    margin: 0;
    padding: 0;

    width: 36.5rem;
    margin-bottom: 1.8rem;

    @include responsive(big-table){
        width: 38rem;
        font-size: 1.4rem;
        font-weight: 2rem;
       text-align: center;
    }

    @include responsive(phone){
        width: 27rem;
        font-size: 1.2rem;
        line-height: 1.8rem;
    
        margin-bottom: 2.1rem;
    }
  }

  &--img {
    width: 39rem;
    // height: 40.8rem;

    @include responsive(big-table){
        max-width: 35rem;
        height: 36rem;
    }

    @include responsive(table){
        width: 80%;
        height: auto;
    }
    @include responsive(phone){
        width: 21rem;
        height: 21.9rem;
    }
  }

  &--arrow{
    position: absolute;
    bottom: -10rem;
    left: 50%;

    background-color: $color-white;
    width: 3.7rem;
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius:50%;
    z-index: 20;
    
    span{
        transform: rotate(90deg);
    }
  }
}
