.price{
    padding-top:9rem ;

    @include responsive(phone){
        padding-top: 6rem;
    }

  &__paragraph{
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: $color-gray-text;
    width: 50rem;

    @include responsive(phone){
        margin-top: 2rem;
        margin-left: 2rem;
        width: 19rem;
        text-align: left;
        font-size: 1.2rem;
        line-height: 2rem;
    }
  }
}

.price__content{
    text-align: center;
    h1{
      margin-bottom:3.5rem ;
    }
    &--card{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 4.1rem;

        @include responsive(table){
            flex-direction: column;
            align-items: center;
        }
    }

    &--card__item{
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include responsive(phone){
            flex-direction: column;
        }
    }
    &--card__item:not(:last-child){
        margin-bottom: 2rem;
    }
    
   
    &--img{
        width: 6.1rem;
        height: 6.1rem;
        margin-right: 2.9rem;

        @include responsive(big-table){
            width: 5.5rem;
            height: 5.5rem;
            margin-right: 2rem;
        }

        @include responsive(phone){
            width: 5.1rem;
            height: 5.1rem;
            margin-bottom: 1.2rem;
            margin-right: 0;
        }
    }
    &--paragraph{
        font-size: 1.6rem;
        line-height: 2.1rem;
        max-width: 30.1rem;
        text-align: left;

        @include responsive(desktop){
            font-size: 1.4rem;
            line-height: 1.9rem;
        }

        @include responsive(big-table){
            line-height: 1.6rem;
            font-size: 1.3rem;
        }

        @include responsive(phone){
            font-size: 1.2rem;
            line-height: 1.7rem;
            width: 24.6rem;
            text-align: center;
        }
    }

    &--card__item:nth-child(2){
        p{
            text-align: left;
            width: 15.5rem;
            margin-left: 0;
        }

        @include responsive(table){
            p{
                width: 100%;
            }
        }

        @include responsive(phone){
            p{
                width: 16.8rem;
                text-align:center;
            }
        }
    }


    // price repo part

    &--repo{
        width: 100%;
        background-color:$card-bg-color;
        border-radius:3rem;
        margin-top: 3.3rem;
        padding: 6.5rem 5.1rem 6.5rem 5.4rem;

        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @include responsive(desktop){
            padding: 5rem 4rem 5rem 4rem;
        }
        @include responsive(big-table){
            padding: 4.5rem 3rem 4.5rem;
        }

        @include responsive(table){
            flex-direction: column;
            align-items:center;
            padding: 4.2rem 2rem 5rem;
        }
    }
  
    &--repo__img{
        max-width: 9rem;
        max-height: 8rem;
        margin-right: 3rem;

        @include responsive(desktop){
            margin-right: 2.1rem;
        }

        @include responsive(big-table){
            width: 7.5rem;
            height: auto;
        }

        @include responsive(table){
            width: 7.5rem;
            height: 6.6rem;
            margin-bottom: 2.1rem;
        }
    }

    &--repo__paragraph{
        max-width: 60rem;
        font-size: 1.7rem;
        line-height: 2.2rem;
        text-align: left;
        margin-right: 2.3rem;

        @include responsive(desktop){
            // width: 55rem;
            font-size: 1.4rem;
            max-width: 50rem;
            margin-right: 1.5rem;
        }
        @include responsive(big-table){
            // width: 55rem;
            font-size: 1.2rem;
            margin-right: 1.3rem;
        }

        @include responsive(table){
            // max-width: 50rem;
            text-align: center;
            margin-bottom: 1.7rem;
        }
    }

}





























