// link typograph size
.link__text {
  color: $color-text;
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: $color-primary;
  }

  @include responsive(big-table) {
    font-size: 1rem;
    line-height: 1rem;
  }

  @include responsive(table) {
    font-size: 1rem;
    line-height: 1rem;
  }
}
.link__text--mobile {
  color: $color-text;
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-decoration: none;
  transition: all 0.3s;

  &:hover {
    color: $color-primary;
  }
}

// heading size

.headeing__1--big {
  font-size: 4.6rem;
  font-weight: 500;
  line-height: 4.6rem;

  @include responsive(desktop) {
    font-size: 4rem;
    line-height: 4rem;
  }

  @include responsive(big-table) {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  @include responsive(table) {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  @include responsive(phone) {
    font-size: 2.6rem;
    line-height: 2.6rem;
  }

  @include responsive(m-phone) {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}

.heading__1--medium {
  font-size: 4.6rem;
  line-height: 4.6rem;
  font-weight: 600;

  @include responsive(desktop) {
    font-size: 4rem;
    line-height: 4rem;
  }

  @include responsive(big-table) {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  @include responsive(table) {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }

  @include responsive(phone) {
    font-size: 2.6rem;
  }

  @include responsive(m-phone) {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }
}
.heading__4{
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 600;
    @include responsive(big-table){
        line-height: 1.6rem;
    }
    @include responsive(table){
        font-size: 1.4rem;
        line-height: 1.4rem;
    }
    @include responsive(phone){
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
}